<div class="navbar navbar-default navbar-fixed-bottom footer">
  <div class="container">
    <div class="row text-muted text-right">
      <div class="col-xs-3">
        <ul class="list-unstyled">
          <li><a [routerLink]="['/legal']">Legal</a></li>
          <li><a [routerLink]="['/site-map']">Site map</a></li>
          <li><a [routerLink]="['/faq']">F.A.Q.</a></li>
        </ul>
      </div>
      <div class="col-xs-3">
        <ul class="list-unstyled">
          <li><a href="#">Some link</a></li>
          <li><a href="#">Some other link</a></li>
          <li><a href="#">Some knil</a></li>
        </ul>
      </div>
      <div class="col-xs-6">
        <a href="http://www.epita.fr" target="_blank"><img src="/img/epita.png" /></a>
        <a href="http://www.mti.epita.fr" target="_blank"><img src="/img/mti.png" /></a>
      </div>
    </div>
  </div>
</div>
