<nav class="navbar navbar-default">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/']">Suggest</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a [routerLink]="['/top']">Top</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/last']">Last</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/suggested']">Suggested</a></li>
      </ul>

      <ul *ngIf="isAuthenticated" class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-list-alt"></span> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/notifications']" style="display: inline;">Notifications</a>
              <span class="badge" *ngIf="notificationCount !== 0" style="display: inline;">{{notificationCount}}</span>
            </li>
            <li><a [routerLink]="['/upload']">Upload an image</a></li>
            <li><a [routerLink]="['/profile', username]">My profile</a></li>
            <li><a href="#">Settings</a></li>
            <li role="separator" class="divider"></li>
            <li><a [routerLink]="['/signout']">Log out</a></li>
          </ul>
        </li>
      </ul>

      <button *ngIf="!isAuthenticated" type="button" class="btn btn-default navbar-btn navbar-right" [routerLink]="['/signin']">Sign in</button>

      <form class="navbar-form navbar-right">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </form>

    </div>

  </div>
</nav>
