<div *ngIf="user">
  <h1>{{ user.username }}</h1>
  <hr />

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Edit profile information</h3>
    </div>
    <div class="panel-body">
      <form (ngSubmit)="saveProfileInfo()" class="form-horizontal">

        <div class="form-group">
          <label for="firstname" class="col-sm-2 control-label">First name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="firstname" placeholder="First name" name="firstname" [(ngModel)]="user.firstname" />
          </div>
        </div>
        <div class="form-group">
          <label for="lastname" class="col-sm-2 control-label">Last name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="lastname" placeholder="New password" name="lastname" [(ngModel)]="user.lastname" />
          </div>
        </div>
        <div class="form-group">
          <label for="summary" class="col-sm-2 control-label">Summary</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="summary" name="summary" placeholder="Something about you..." [(ngModel)]="user.summary"></textarea>
          </div>
        </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Save</button>
            </div>
          </div>

      </form>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Change password</h3>
    </div>
    <div class="panel-body">

      <form (ngSubmit)="editPassword()" class="form-horizontal">
        <div class="form-group">
          <label for="current-password" class="col-sm-2 control-label">Current password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="current-password" placeholder="Current password" name="current-password" [(ngModel)]="currentPassword" required />
          </div>
        </div>
        <div class="form-group">
          <label for="new-password" class="col-sm-2 control-label">New password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="new-password" placeholder="New password" name="new-password" [(ngModel)]="newPassword" required />
          </div>
        </div>
        <div class="form-group">
          <label for="new-password-confirm" class="col-sm-2 control-label">New password confirmation</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="new-password-confirm" placeholder="New password" name="new-password-confirm" [(ngModel)]="newPasswordConfirm" required />
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Save</button>
          </div>
        </div>

      </form>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Change profile image</h3>
    </div>
    <div class="panel-body">

      <div class="well profile-images">
        <img *ngFor="let image of user.images" src="{{ image.url['thumb'] }}" (click)="setProfileImage(image)" />
      </div>

    </div>
  </div>
</div>
