<h1>Upload an image</h1>
<hr />

<div class="form-horizontal">

  <div class="form-group">
    <label class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="Title" [(ngModel)]="title" />
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">File</label>
    <div class="col-sm-10">
      <input type="file" class="form-control" (change)="fileChangeEvent($event)" />
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-default" (click)="uploadImage()">Upload</button>
    </div>
  </div>

</div>
