<div *ngIf="user" class="row">
  <div class="col-xs-2">
    <img src="{{ user?.profileImage?.url | defaultProfileImage }}" class="profile-image" />
  </div>
  <div class="col-xs-9">
    <div class="pull-right" *ngIf="isCurrent"></div>
    <div class="clearfix"></div>
    <h1>{{ user.username }}</h1>
    <p>First name: {{ user.firstname }}</p>
    <p>Last name: {{ user.lastname }}</p>
    <p>Summary: {{ user.summary }}</p>
  </div>
  <div class="col-xs-1">
    <a [routerLink]="['edit']">edit</a>
  </div>
</div>

<hr />

<div class="images liked-images">
  <h3>Liked images</h3>
  <div class="image" *ngFor="let image of user?.likes">
    <image-display [image]="image"></image-display>
    <span class="image-title">{{ image.title }}</span>
  </div>
</div>

<hr />

<div class="images fav-images">
  <h3>Favorite images</h3>
  <div class="image" *ngFor="let image of user?.favorites">
    <image-display [image]="image"></image-display>
    <span class="image-title">{{ image.title }}</span>
  </div>
</div>
