<!DOCTYPE html>
<html>
  <head>

    <% if (res.statusCode == 200) { %>
    <base href="/">
    <% } %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Suggest</title>

    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    <% if (res.statusCode == 200) { %>
    <style type="text/css">
      /* bootstrap's footer */
      body { padding-bottom: 120px; }
    </style>

    <script src="/js/shim.min.js"></script>
    <script src="/js/zone.js"></script>
    <script src="/js/Reflect.js"></script>
    <script src="/js/system.src.js"></script>

    <script src="/js/systemjs.config.js"></script>
    <script>
      System.import('app').catch(err => console.error.bind(console));
    </script>
    <% } else { %>
    <style type="text/css">
      .error {
        width: 300px;
        margin: auto;
      }
    </style>
    <% } %>

  </head>

  <body>

    <%- body %>

    <% if (res.statusCode == 200) { %>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <% } %>

  </body>
</html>
