img.image {
  display: block;
  width: 100%;
  margin: 10px auto 40px;
}

.owner-link {
  color: inherit;
}

.img-info {
  max-width: 440px;
  margin: auto;
}

.comments .comment {
  position: relative;
}

.comments .comment-icon {
  position: absolute;
  top: 0;
  right: 0;
  color: #666666;
  font-size: 0.8em;
  cursor: pointer;
  z-index: 10;
}
