<h1>{{ image?.title }}</h1>
<hr />

<img *ngIf="image?.url" class="image" src="{{ image.url['hd'] }}" alt="{{ image?.title }}" />

<div class="img-info">

  <div class="row" *ngIf="image">
    <div class="col-xs-4">
      <ul class="list-unstyled">
        <li>By: <a *ngIf="image.owner" [routerLink]="['/profile', image.owner.username ]" class="owner-link"><strong>{{ image.owner.username }}</strong></a></li>
        <li>On: <strong>{{ image.updatedAt | date }}</strong></li>
      </ul>
    </div>

    <div class="col-xs-4">
      <favs-likes [image]="image"></favs-likes>
    </div>
  </div>

  <hr />

  <ul class="list-group comments">
    <li *ngFor="let comment of image?.comments" class="list-group-item">
      <div class="container-fluid">
        <div class="row comment">
          <span *ngIf="user && comment.author.id == user.id" class="glyphicon glyphicon-remove comment-icon" (click)="deleteComment(comment)"></span>
          <div class="col-xs-2">
            <strong>{{ comment.author?.username }}</strong>
          </div>
          <div class="col-xs-10 text-justify">
            {{ comment.body }}
          </div>
        </div>
      </div>
    </li>
  </ul>

  <div *ngIf="user" class="comment-form">
    <div class="form-group">
      <textarea class="form-control" [(ngModel)]="comment" placeholder="Post a comment..."></textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" (click)="postComment()">Post</button>
    </div>
  </div>

</div>
