<h1>{{ title }}</h1>
<hr />

<div *ngIf="images" class="row carousel-images" style="position: relative;">
  <div class="col-sm-8">
    <carousel [images]="getCarouselImages()" (onImageChanged)="onCarouselChanged($event)"></carousel>
  </div>
  <div class="col-sm-4" style="position: absolute; right: 0; height: 100%;">
    <image-info [image]="carouselImage"></image-info>
  </div>
</div>

<div class="images">
  <div class="image" *ngFor="let image of getContentImages()">
    <image-display [image]="image"></image-display>
    <span class="image-title">{{ image.title }}</span>
  </div>
</div>
