.carousel-images > div {
  max-height: 380px;
  overflow-y: auto;
}

.images {
  margin-top: 10px;
}

.images .image {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.images .image img {
  max-height: 192px;
}

.images .image:last-child {
  margin-right: 0;
}

.images .image .image-title {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: white;
  font-weight: bold;
}
