<h1>Sign in</h1>
<hr />

<div class="wrapper">

  <ul class="pull-right list-inline links">
    <li><a routerLink="/signup">Create an account</a></li>
    <li><a onclick="alert('¯\\..(ツ)../¯');">Forgot your password?</a></li>
  </ul>
  <div class="clearfix"></div>

  <form (ngSubmit)="signin()" class="form-horizontal">
    <div class="form-group" [class.has-error]="invalidCredentials">
      <label for="username" class="col-sm-2 control-label">Username</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="username" placeholder="Username" name="username" [(ngModel)]="username" required />
      </div>
    </div>
    <div class="form-group" [class.has-error]="invalidCredentials">
      <label for="password" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="password" placeholder="Password" name="password" [(ngModel)]="password" required />
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Sign in</button>
      </div>
    </div>
  </form>

</div>
