<h1>Sign up</h1>
<hr />

<form (ngSubmit)="signup()" class="form-horizontal">
  <div class="form-group">
    <label for="username" class="col-sm-2 control-label">Username</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="username" placeholder="Username" name="username" [(ngModel)]="user.username" required/>
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" placeholder="Email" name="email" [(ngModel)]="user.email" required />
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="password" placeholder="Password" name="password" [(ngModel)]="password" required />
    </div>
  </div>
  <div *ngIf="user.username && user.email && password">
    <div class="form-group">
      <label for="firstname" class="col-sm-2 control-label">First name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="firstname" placeholder="First name" name="firstname" [(ngModel)]="user.firstname" />
      </div>
    </div>
    <div class="form-group">
      <label for="lastname" class="col-sm-2 control-label">Last name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="lastname" placeholder="Last name" name="lastname" [(ngModel)]="user.lastname" />
      </div>
    </div>
    <div class="form-group">
      <label for="summary" class="col-sm-2 control-label">Summary</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="summary" name="summary" [(ngModel)]="user.summary">Something about you...</textarea>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Sign up</button>
    </div>
  </div>
</form>

