<div class="carousel">
  <a *ngFor="let image of images; let i = index" [routerLink]="['/image', image.id]">
    <img [class.active]="i === currentImage" src="{{ image.url['web'] }}" alt="{{ image.title }}" />
  </a>
</div>
