<ul class="favs-likes list-unstyled" [ngClass]="{ 'list-inline': inline }">
  <li class="fav" (mouseover)="showFavsList = true" (mouseleave)="showFavsList = false">
    <span *ngIf="showFavsList && image.favoritedBy.length > 0" class="favs-list">
      <ul class="list-unstyled">
        <li *ngFor="let user of image.favoritedBy">
          <a [routerLink]="['/profile', user.username]">{{ user.username }}</a>
        </li>
      </ul>
    </span>
    <span *ngIf="isUserFav()" class="icon glyphicon glyphicon-star" (click)="unfavorite()"></span>
    <span *ngIf="!isUserFav()" class="icon glyphicon glyphicon-star-empty" (click)="favorite()"></span>
    {{ image.favoritedBy.length }}
  </li>
  <li class="like" (mouseenter)="showLikesList = true" (mouseleave)="showLikesList = false">
    <span *ngIf="showLikesList && image.likedBy.length > 0" class="likes-list">
      <ul class="list-unstyled">
        <li *ngFor="let user of image.likedBy">
          <a [routerLink]="['/profile', user.username]">{{ user.username }}</a>
        </li>
      </ul>
    </span>
    <span *ngIf="isUserLike()" class="icon glyphicon glyphicon-heart" (click)="unlike()"></span>
    <span *ngIf="!isUserLike()" class="icon glyphicon glyphicon-heart-empty" (click)="like()"></span>
    {{ image.likedBy.length }}
  </li>
</ul>
