<div *ngIf="image" class="image-info">
  <div class="image-title">{{ image.title }}</div>

  <user-display [user]="image.owner"></user-display>

  <hr />

  <div class="row">

    <div class="col-xs-6">
      <favs-likes [image]="image" [inline]="true"></favs-likes>
    </div>

    <div class="col-xs-6">
      <div class="image-creationdate">{{ image.createdAt | date }}</div>
    </div>

  </div>

  <ul class="list-group comments">
    <li *ngFor="let comment of image.comments" class="list-group-item comment">
      <a [routerLink]="['/profile', comment.author?.username]">{{ comment.author?.username }}</a>: {{ comment.body }}
    </li>
  </ul>

</div>
