<div *ngIf="image" data-toggle="modal" [attr.data-target]="'#image-display-modal-' + image.id">
  <img class="thumb" src="{{ image.url['thumb'] }}"/>
</div>

<div *ngIf="image" class="modal fade" id="image-display-modal-{{ image.id }}" tabindex="-1" role="dialog" aria-labelledby="image-display-label">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="image-display-label">
          <a [routerLink]="['/image', image.id]" data-dismiss="modal">{{ image.title }}</a>
        </h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <img class="col-xs-12 modal-image" src="{{ image.url['hd'] }}" alt="{{ image.title }}"/>
        </div>
      </div>
    </div>
  </div>
</div>
