<div class="row" [ngClass]="{ new: !notification.seen }">

  <div *ngIf="notification.type === 'comment'" class="notif col-xs-7">
    <span class="icon icon-comment glyphicon glyphicon-comment"></span>
    <strong>
      <a [routerLink]="['/profile', notification.user.username]">{{ notification.user.username }}</a>
    </strong>
    commented on your image
    <strong>
      <a [routerLink]="['/image', notification.image.id]">{{ notification.image.title }}</a>.
    </strong>
  </div>

  <div *ngIf="notification.type === 'like'" class="notif col-xs-7">
    <span class="icon icon-like glyphicon glyphicon-heart"></span>
    <strong>
      <a [routerLink]="['/profile', notification.user.username]">{{ notification.user.username }}</a>
    </strong>
    liked your image
    <strong>
      <a [routerLink]="['/image', notification.image.id]">{{ notification.image.title }}</a>.
    </strong>
  </div>

  <div *ngIf="notification.type === 'favorite'" class="notif col-xs-7">
    <span class="icon icon-favorite glyphicon glyphicon-star"></span>
    <strong>
      <a [routerLink]="['/profile', notification.user.username]">{{ notification.user.username }}</a>
    </strong>
    favorited your image
    <strong>
      <a [routerLink]="['/image', notification.image.id]">{{ notification.image.title }}</a>.
    </strong>
  </div>

  <div class="col-xs-1">
    <span *ngIf="!notification.seen" class="badge ">New</span>
  </div>

  <div class="date col-xs-4">{{ notification.createdAt | date:'medium' }}</div>

</div>
