.user-display {
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border: 1px solid #999;
    height: 64px;
    max-width: 640px;
    position: relative;
}

.profile-image {
    width: 64px;
    height: 64px;
    position: absolute;
    top: -1px;
    left: -1px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    border: 1px solid #999;
}

.profile-details {
    display: inline-block;
    margin: 5px 0 0 80px;
}

.identity {
    font-size: 1.2em;
}

.identity .name {
    font-weight: bold;
    text-transform: capitalize;
}

.identity .username {
    font-size: 0.8em;
    color: #666;
}

.summary {
    font-size: 0.9em;
    font-family: Helvetica, serif;
    font-style: italic;
    color: #666;
}
