<div *ngIf="user?.username" class="user-display">
    <img class="profile-image" src="{{ user?.profileImage?.url | defaultProfileImage }}" />
    <div class="profile-details">
        <div class="identity">
            <span class="name">{{ user.firstname }} {{ user.lastname }}</span>
            <span class="username">
                <span *ngIf="showProfileLink">
                    (<a [routerLink]="['/profile', user.username]">{{ user.username }}</a>)
                </span>
            </span>
        </div>
        <div class="summary">{{ user.summary }}</div>
    </div>
</div>
